:root {
  /* Primary */
  --Cyan: #2acfcf;
  --Dark-Violet: #3b3054;

  /* Secondary */
  --Red: #f46262;

  /* Neutral */
  --Gray: #bfbfbf;
  --Grayish-Violet: #9e9aa7;
  --Very-Dark-Blue: #35323e;
  --Very-Dark-Violet: #232127;
}
