@tailwind base;
@tailwind components;
@tailwind utilities;

section {
  background-color: hsl(220, 22%, 16%);
}

.card-pattern {
  background-image: url("/pattern-divider-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  .card-pattern {
    background-image: url("/pattern-divider-desktop.svg");
  }
}

.card-button {
  transform: translateY(75%);
  transition: box-shadow 0.8s ease-out;
}

.card-button:hover {
  box-shadow: 0 0 20px hsl(150, 100%, 66%), 0 0 30px hsl(150, 100%, 66%);
}

/* Attribution */
.attribution {
  color: white;
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(150, 100%, 66%);
}
