@use "../abstracts/colors";
@use "../abstracts/breakpoints";

// Mobile First

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  &__info {
    h1 {
      font-size: 36px;
      line-height: 45px;
      color: colors.$dark-violet;
    }

    p {
      color: colors.$gray;
      padding: 0.25rem 1rem 1.25rem;
    }
  }
}

@media only screen and (min-width: breakpoints.$breakpoint-laptop) {
  .container {
    padding: 2.5rem 5rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    text-align: left;

    &__info {
      grid-row-start: 1;

      h1 {
        font-size: 2.5rem;
        line-height: 55px;
      }

      p {
        padding: 0 2.5rem 1.5rem 0;
        line-height: 30px;
      }
    }
  }
}

@media only screen and (min-width: breakpoints.$breakpoint-desktop) {
  .container {
    &__info {
      h1 {
        font-size: 3.75rem;
        line-height: 85px;
      }

      p {
        padding-right: 3rem;
        line-height: 32.5px;
      }
    }
  }
}
